<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saoma.pos.mapper.SaleItemMapper">

    <resultMap id="SaleItemResultMap" type="com.saoma.pos.pojo.entity.SaleItem">
        <id property="id" column="id"/>
        <result property="saleId" column="sale_id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="barcode" column="barcode"/>
        <result property="price" column="price"/>
        <result property="quantity" column="quantity"/>
        <result property="subtotal" column="subtotal"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO sale_item(sale_id, merchant_id, product_id, product_name, barcode, price, quantity, subtotal) VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.saleId}, #{item.merchantId}, #{item.productId}, #{item.productName}, #{item.barcode}, #{item.price}, #{item.quantity}, #{item.subtotal})
        </foreach>
    </insert>

    <select id="findBySaleId" resultMap="SaleItemResultMap" parameterType="long">
        SELECT * FROM sale_item WHERE sale_id = #{saleId}
    </select>

</mapper>
